.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 16px 12px;
}
.nav-name {
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
}
.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.nav-item {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.nav-link {
  text-decoration: none;
}
